[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
fixture-declarative-cmd = {path = "./fixtures/declarative"}
fixture-custom-cmd = {path = "./fixtures/custom_cmd"}
flake8 = "*"
pytest-cov = "*"
setuptools-scm = "*"

[packages]

[requires]
python_version = "3.5"
